@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33 31 77;
  --background-rgb: 250 255 246;
  --global-rgb: 235 135 49;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mapboxgl-ctrl-top-left {
  position: absolute;
  bottom: 20px;
  left:20px;
  width: 100svh;
}
